public/esquema/paisos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="paisos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pais" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="alpha2Code"/>
              <xs:element type="xs:string" name="alpha3Code"/>
              <xs:element type="xs:string" name="capital"/>
              <xs:element type="xs:string" name="region"/>
              <xs:element type="xs:string" name="subregion"/>
              <xs:element type="xs:int" name="population"/>
              <xs:element type="xs:string" name="demonym"/>
              <xs:element type="xs:string" name="area"/>
              <xs:element type="xs:string" name="gini"/>
              <xs:element type="xs:string" name="nativeName"/>
              <xs:element type="xs:short" name="numericCode"/>
              <xs:element type="xs:string" name="flag"/>
              <xs:element type="xs:string" name="cioc"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
